<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="NukiAPI.NukiAPI">
	<uses-sdk android:minSdkVersion="19" />
	<application android:label="NukiAPI" android:icon="@drawable/icon"></application>
</manifest>